.bg-gradient-coldbox, .bg-coldbox{
	background-color:#f5f7f9;
}
a,a:hover{
	color: rgb(157,170,182);
}
a:hover{
	background: rgb(230,236,241);
}
.sidebar .nav-item .collapse .collapse-inner .collapse-item:active, .sidebar .nav-item .collapsing .collapse-inner .collapse-item:active {
	background-color: #fff;
	color: rgb(107,196,246);
}
.topbar{
	height: 86px;
}
.nav-item.active a  {
	color: rgb(107, 196, 246);
	background: #e6ecf1;
}
.text-primary{
	color:#359bc1!important;
}
.div-pre{
	background: rgba(0,0,0,0.03);
	border: 1px solid rgba(0,0,0,.125);
	padding: 5px;
	margin-bottom: 10px;
	font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
	font-size:12px;
}
*::-webkit-scrollbar {
    width: 2px;
    height: 5px;
}
*::-webkit-scrollbar-thumb {
    background-color: #d9d8d8;
}
.nav-menu-fixed{
	position: fixed;
	z-index: 1000;
	height: 200px;
	left: 0px;
	overflow-y: scroll;
	overflow-x: hidden;
	top: 86px;
}
.container-fixed{
	left:251px;
	bottom:77px;
	top:100px;
	overflow-y:scroll;
	position:fixed;
	width:81.6%;
}
.footer-fixed{
	position:fixed;
	bottom:0;
	width:81.6%;
	left:250px;
}
.navbar-fixed{
	position: fixed;
	z-index: 1000;
	width: 100%;
	margin-right: 16px;
	padding-left: 0px;
}
.z-index-1001{
	z-index:1001;
}

/** Custom Syntax Highlighting **/
.highlight {
	font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
	font-size:14px;
}